<article class="movie">
  <Card::Image
    @src={{set-url @movie.poster_path}}
    @alt="A picture of Grand Old Mansion"
  />
  <div class="details">
    <h3>{{@movie.title}}</h3>
    <div class="detail">
      <span>Popolarity:</span> {{@movie.popularity}}
    </div>
    <div class="detail">
      <span>Adult:</span>{{if @movie.adult '+18' '-'}}
    </div>
    <div class="detail">
      <span>Relase Date:</span> {{@movie.release_date}}
    </div>
    <div class="detail">
      <span>Vote Average:</span> {{@movie.vote_average}}
    </div>
    <div class="detail">
      <span>Genres:</span> 

      {{#each @movie.genres as |genre|}}
          {{genre.name}}-
      {{/each}}
    </div>
  </div>
</article>